<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_17.Exam_task.Properties.Settings.ApressFinancialConnectionString"
            connectionString="Data Source=WIN-CDJM1LM10O7\SQLEXPRESS;Initial Catalog=ApressFinancial;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>